{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
  <div id="verification">
    <div class="example">
      <label for="f" class="formLabel">Name</label>
      <input id="f" class="formInput" />
      <label for="g" class="formLabel">Vorname</label>
      <input id="g" class="formInput" />
      <label for="b" class="formLabel">Geburtsdatum</label>
      <input id="b" class="formInput" />
      <label for="p" class="formLabel">Ausweis-Nr.</label>
      <input id="p" class="formInput" />
      <label for="i" class="formLabel">ImpfZentrum-Nr</label>
      <input id="i" class="formInput" />
      <label for="d_0" class="formLabel">Datum Impfung 1</label>
      <input id="d_0" class="formInput" />
      <label for="d_1" class="formLabel">Datum Impfung 2</label>
      <input id="d_1" class="formInput" />
      <label for="t" class="formLabel">Typ</label>
      <input id="t" class="formInput" />
      <label for="r" class="formLabel">Impfstoff</label>
      <input id="r" class="formInput" />
      <label for="r" class="formLabel">Secret</label>
      <input id="s" class="formInput" /><br /><button id="get-json-from-inputs">
        get JSON from Inputs
      </button>
    </div>
  </div>
  <div id="widget">widget placeholder</div>
  <div class="input-field">
    <label for="token-input">UBIRCH verification token:</label>
    <textarea
      rows="10"
      cols="80"
      placeholder=""
      type="text"
      id="token-input"
    ></textarea>
  </div>
  <button id="set-token">Set UBIRCH verification token</button>
  <div class="input-field">
    <label for="json-input">JSON:</label>
    <textarea
      rows="10"
      cols="80"
      placeholder=""
      type="text"
      id="json-input"
    ></textarea>
  </div>
  <button id="verify-json">Verify JSON</button>
  <div class="input-field">
    <label for="output">Output:</label>
    <textarea
      rows="10"
      cols="80"
      placeholder=""
      type="text"
      id="output"
    ></textarea>
  </div>

  {{ $js := resources.Get "js/main.ts" | js.Build (dict "minify" true) }}
  <script src="{{$js.RelPermalink}}"></script>

  <div>
    {{ range first 10 .Site.RegularPages }} {{ .Render "summary"}} {{ end }}
  </div>
</main>
{{ end }}
