{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
  <div>
    <label>
      <input type="radio" name="token" value="wrong" />
      wrong token </label
    ><br />
    <label>
      <input
        type="radio"
        name="token"
        value="eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJodHRwczovL3Rva2VuLmRldi51YmlyY2guY29tIiwic3ViIjoiZDYzZWNjMDMtZjVhNy00ZDQzLTkxZDAtYTMwZDAzNGQ4ZGEzIiwiYXVkIjoiaHR0cHM6Ly92ZXJpZnkuZGV2LnViaXJjaC5jb20iLCJleHAiOjE2MjUwODY0ODQsImlhdCI6MTYxODg2NTcyMywianRpIjoiZjk1NjQyODktOGU3MC00Mjk0LWEyNDItODQ2MWZiMjdhOWE4Iiwic2NwIjpbInVwcDp2ZXJpZnkiXSwicHVyIjoiVGVzdCBUb2tlbiIsInRncCI6W10sInRpZCI6WyIqIl0sIm9yZCI6W119.CVUEKZmnQf22k5WToCMpHLuFz-1QgG5-6-YnZKFIKy8LllTG3BZQ4eKOTI0R7Nn0ac1ZrSumsk9qZsuWYP2wJw"
      />
      right token
    </label>
  </div>
  <hr />
  <div class="input-field">
    <label
      >JSON:
      <br />
      <textarea
        rows="10"
        cols="80"
        placeholder=""
        type="text"
        id="json-input"
      ></textarea>
    </label>
  </div>
  <button id="verify-json">Verify</button>

  <div id="widget-root" style="width: 500px"></div>

  {{ $js := resources.Get "js/main.ts" | js.Build (dict "minify" true) }}
  <script src="{{$js.RelPermalink}}"></script>

  <div>
    {{ range first 10 .Site.RegularPages }} {{ .Render "summary"}} {{ end }}
  </div>
</main>
{{ end }}
