{{ define "main" }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="homepage-content">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
  <div>
    {{range .Params.access_tokens}}
    <label>
      <input type="radio" name="token" value="{{ . | jsonify }}" />
      {{.data_schema}} </label
    ><br />
    {{ end }}
  </div>
  <hr />
  <div class="input-field">
    <label
      >JSON:
      <br />
      <textarea
        rows="10"
        cols="80"
        placeholder=""
        type="text"
        id="json-input"
      ></textarea>
    </label>
  </div>
  <button id="verify-json">Verify</button>

  <div id="info-root" style="width: 500px"></div>
  <div id="widget-root" style="width: 500px"></div>

  {{ $js := resources.Get "js/main.ts" | js.Build (dict "minify" true) }}
  <script src="{{$js.RelPermalink}}"></script>

  <div>
    {{ range first 10 .Site.RegularPages }} {{ .Render "summary"}} {{ end }}
  </div>
</main>
{{ end }}
